.profile{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid;
    border-color: #182673
}

.subtitle{
    color: #182673;
    text-align: left;
    margin-top: 8%;
    margin-right: 100%;
    
}

.title{
    color: #26378F;
    
    padding: 10px;
    text-align: center;
}

.text{
    color: black;

}

.container{
    background-color: #3F4E9B;
    width: 80%;
    padding: 50px; 
    border: 10px solid #182673;
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.container_data{
    background-color: #8590CA;
    width: 70%;
    padding: 20px;
    border: 5px solid #182673;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    border-right: 90%;
}

.container_perfil{
    background-color: #8590CA;
    width: 1500PX;
    padding: 10px;
    border: 5px solid #182673;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 30px;
    align-items: start;
    gap: 20px;
    display: block;
}



.container_skills{
    background-color: #8590CA;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 5px solid #182673;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 30px;
    display: block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.container_media{
    background-color: #8590CA;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 5px solid #182673;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 30px;
    display: block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.container_estudios{
    background-color: #8590CA;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 5px solid #182673;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 30px;
    display: block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.container_english{
    background-color: #8590CA;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 5px solid #182673;
    box-sizing: content-box;
    margin: 20px;
    border-radius: 30px;
    display: block;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
