*{
    background-color: #000;
}

.container{
    width: 80%; 
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.izquierda{
    flex: 0 0 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid;
    border-color: #182673
}

.content-box{
    background-color:#26378F    ;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    
}

.content-box p {
    color: black !important;
    background-color: transparent
}

.content-box strong{
    background-color: transparent;
}

.content-box a{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.redes{
    background-color:#26378F;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.redes p {
    color: black;
    background-color: transparent
}

.redes strong{
    background-color: transparent;
}

.redes a{
    background-color: transparent;
    text-decoration: none;
    color: black;
    justify-content: center;
    display: block;
}

.redes img{
    background-color: transparent;
    display: block;
}

.derecha{
    text-align: center;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: white;
    flex: 60%;
    
}
.perfil{
    background-color: #3F4E9B;
    width: 50%;
    padding: 45px;
    margin-top: auto;
    border-radius: 10px;
    color: black;
    margin-right: 50%;
}

.perfil p {
    color: black !important;
    background-color: transparent;
    text-align: center;
}

.perfil strong{
    background-color: transparent;
}

.perfil a{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.perfil h2{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.estudios{
    background-color: #3F4E9B;
    width: 50%;
    padding: 45px;
    margin-top: auto;
    border-radius: 10px;
    color: black;
    margin-right: 50%;
    margin-top: 20px;
}

.estudios p {
    color: black !important;
    background-color: transparent;
    text-align: center;
}

.estudios strong{
    background-color: transparent; 
}

.estudios a{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.estudios h2{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.tecnologia{
    background-color: #3F4E9B;
    width: 50%;
    padding: 45px;
    margin-top: auto;
    border-radius: 10px;
    color: black;
    margin-right: 50%;
    margin-top: 20px;
}

.tecnologia p {
    color: black !important;
    background-color: transparent;
    text-align: center;
}

.tecnologia strong{
    background-color: transparent;
}

.tecnologia a{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.tecnologia h2{
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.tecnologia img{
    background-color: transparent;
} 

.ingles{
    background-color: #26378F;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.ingles p {
    color: black !important;
    background-color: transparent
}

.ingles strong{
    background-color: transparent;
}

.ingles a{
    background-color: transparent;
    text-decoration: none;
    color: black
}

.spanish{
    background-color: #26378F;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    text-align: left;
}

.spanish p {
    color: black !important;
    background-color: transparent
}

.spanish strong{
    background-color: transparent;
}

.spanish a{
    background-color: transparent;
    text-decoration: none;
    color: black
}